<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>wit-fight.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1440</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2091</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2106</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2108</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2110</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2123</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2125</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2140</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2159</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2174</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2194</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2217</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2225</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2242</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2289</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2304</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2311</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2339</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2360</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2368</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2439</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2441</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2442</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2456</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2572</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2622</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2637</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2683</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2695</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2710</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2722</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2743</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2752</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2758</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2774</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2789</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2839</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2877</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2892</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2934</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2949</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2987</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3002</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3033</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3048</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3079</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3094</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3173</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3188</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3349</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3416</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3515</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3676</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3691</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3713</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3828</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
